body {
  font-family: sans-serif;
  text-align: left;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  color: white;
  background-color: #2d2d2d;
  border-radius: 5px;
  overflow: auto;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
