body {
  font-family: sans-serif;
  text-align: left;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  color: inherit; /* 기본 글자색을 그대로 유지 */
  background-color: transparent; /* 배경을 투명하게 설정 */
  border-radius: 0;
  overflow: auto;
  margin: 0;
}

code {
  color: inherit; /* 코드 텍스트의 기본 색상 유지 */
  font-family: inherit; /* 기본 폰트를 사용 */
}
